.rubik-bubbles-regular { 
  background-color: aquamarine; 
  font-family: "Rubik Bubbles", system-ui; 
  font-weight: 400; 
  font-style: normal; 
} 
.rubik-bubbles-regular { 
  background-color: rgba(248, 222, 72, 0.841); 
  font-family: "Rubik Bubbles", system-ui; 
  font-weight: 400; 
  font-style: normal; 
} 
.container{ 

  background-color: yellow; 
  
  
 } 
 .container-fluid{ 
    background-color: bisque; 
   
} 
.row{ 
  margin: 5px; 
} 
.col{ 
  background-color: violet; 
  margin: 5px; 
} 
.modal{ 
  background-color: tomato; 
}

.carousel-item {
  width: 500px; 
  height: 500px; 
  margin: auto;
 
}
#h1{
  text-align: center;
}